
<div ui-view >
  <div class="heroimage">
    <top-bar>
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="landing"></a><h1>
        </li>
        <li toggle-top-bar class="menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <top-bar-section>
      <!-- Right Nav Section -->
      <ul class="center">
        <li><a ui-sref="landing">Home</a></li>
        <li><a ngclick="gotoAnchor()">About</a></li>
        <li><a ui-sref="recentwork">Recent Work</a></li>
        <li><a ui-sref="contact">Contact Me</a></li>
        <li><a href="http://robertsonsamuel.github.io/blog/public/">Blog</a></li>
      </ul>

      <!-- Left Nav Section -->
      <!-- <ul class="left">      
        <li><a href="#">Left</a></li>
      </ul> -->
    </top-bar-section>
  </top-bar>

      <div class="row">
      <div class="medium-12 columns end">
        <div class="card">
          <div class="content">
            <span class="title">Robert Frost</span>
            <p>Two roads diverged in a yellow wood,  And sorry I could not travel both   And be one traveler, long I stood   And looked down one as far as I could  . To where it bent in the undergrowth;</p>
          </div>
          <div class="action">
            <a href='#'>This is a link</a>
            <a href='#'>This is a link</a>
          </div>
        </div>
      </div>


  </div>


</div>
</div>
