<div ui-view>

<div ng-controller="TopBar">
  <top-bar>
    <ul class="title-area">
      <li class="name">
          <h1><a ui-sref="landing">Home</a><h1>
      </li>
      <li toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
    </ul>

    <top-bar-section>
      <!-- Right Nav Section -->
      <ul class="center">
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="recentwork">Recent Work</a></li>
        <li><a ui-sref="contact">Contact Me</a></li>
      </ul>

      <!-- Left Nav Section -->
      <!-- <ul class="left">
        <li><a href="#">Left</a></li>
      </ul> -->
    </top-bar-section>
  </top-bar>
</div>
</div> <!-- ui view -->


  <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>
  
<div class="medium-12 heroimage">
    <div class="row">
    <div class="medium-12 large-12 columns text-center">
      <h1 class="herotext">Sam Robertson</h1>
      <h3 class="herotext">A graduate of PennState University and a </h3> <h3 class="herotext"><typer words="['Mechanical Engineer', 'Full Stack Developer', 'Team Player']" type-time='50' backspace-time='20' start-delay='5'> </h3>
    </div>
  </div>


<div class="row">
  <div class="medium-6 columns end">
    <div class="card">
      <div class="content">
        <span class="title">Robert Frost</span>
        <p>Two roads diverged in a yellow wood,  And sorry I could not travel both   And be one traveler, long I stood   And looked down one as far as I could  . To where it bent in the undergrowth;</p>
      </div>
      <div class="action">
        <a href='#'>This is a link</a>
        <a href='#'>This is a link</a>
      </div>
    </div>
  </div>
  <div class="medium-6 columns end">
    <div class="card">
      <div class="content">
        <span class="title">Robert Frost</span>
        <p>Two roads diverged in a yellow wood,  And sorry I could not travel both   And be one traveler, long I stood   And looked down one as far as I could  . To where it bent in the undergrowth;</p>
      </div>
      <div class="action">
        <a href='#'>This is a link</a>
        <a href='#'>This is a link</a>
      </div>
    </div>
  </div>
</div>


</div> <!-- hero image div -->





