body {
    background: whitesmoke;
}


.hidden {
  visibility: hidden;
}

a.button.heroButton {
    background-color: rgba(12, 228, 0, 0);
    border: 1px solid;
    width: 150px;
}


.herotext{
  color:white;
}
.center-hero {
    margin: 0 auto;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.heroimage{
  width: 100vw;
  height: 100vh;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #00d2ff, #3a7bd5);
  background: -o-linear-gradient(right, #00d2ff, #3a7bd5);
  background: linear-gradient(to left, #00d2ff, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 auto;
}

/*card*/
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

.socialLinks {
    position: absolute;
    left: 0%;
}

li.socialLink a:hover {
    color: #F9FF00;
}

.socialLinksUl {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    width:100%;
}
.socialLinksUl li {
    display: table-cell;
    text-align: center;
    color: white;
}
.socialLinksUl li a {
    color: white;
 }


@media (max-width: 492px){
    .center-hero {
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 15%;
    position: absolute;
}
h1 {
    font-size: 3.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}
h3 {
    font-size: 1.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}
}
